/* Form variables */
/* Form style */
.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}
.form-wrapper .form {
  width: 369px;
  height: 474px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
}
.form-wrapper .form .input-fields {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 0 10px;
}

/* Progress bar style */
.progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.progress-bar .progress-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.progress-bar .progress-check .progress-title {
  font-weight: 800;
  font-size: 12px;
  line-height: 12px;
  margin-top: 10px;
  color: #9b9fa1;
}
.progress-bar .progress-check .progress-line {
  position: absolute;
  top: 3px;
  z-index: -1;
  height: 3px;
  border: none;
  background-color: #9b9fa1;
}
.progress-bar .progress-check.completed .progress-title {
  color: #000;
}
.progress-bar .progress-check.completed .progress-line {
  background-color: #31cb68;
}
.progress-bar .progress-check .phase-1 {
  width: 165px;
  left: -130px;
}
.progress-bar .progress-check .phase-2 {
  width: 140px;
  left: -121px;
}
.progress-bar .completed svg #primary {
  fill: #31cb68;
}
.progress-bar svg #primary {
  fill: #9b9fa1;
}
.progress-bar svg #secondary {
  fill: #fff;
}

/* Input fields style */
.input-field-wrapper {
  margin: 19px 0;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.input-field-wrapper .input-field {
  border: 1px solid #697072;
  border-radius: 15px;
  padding: 24px 34px;
  width: 100%;
  font-size: 16px;
}
.input-field-wrapper .input-field::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
}
.input-field-wrapper .input-field::-moz-placeholder {
  font-family: "Lato", sans-serif;
}
.input-field-wrapper .input-field:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
}
.input-field-wrapper .input-field::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
}
.input-field-wrapper .input-field::placeholder {
  font-family: "Lato", sans-serif;
}
.input-field-wrapper .input-field:focus {
  border: 1px solid #34daff;
  outline: none;
}
.input-field-wrapper .input-label {
  position: absolute;
  left: 28px;
  top: -8px;
  color: #000;
  font-size: 12px;
  background-color: #fff;
  font-weight: 700;
  padding-left: 7px;
  padding-right: 18px;
  text-align: center;
}
.input-field-wrapper .input-label .required {
  color: rgb(255, 0, 0);
  margin-left: 4px;
}
.input-field-wrapper .clear-input {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 10px;
  top: 24px;
}
.input-field-wrapper .clear-input:hover {
  cursor: pointer;
}

.btn {
  background: #34daff;
  border-radius: 15px;
  padding: 12px 18px;
  margin-top: 15px;
  gap: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: rgba(6, 16, 20, 0.9);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn:hover {
  cursor: pointer;
}

.btn-next {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.error-message {
  color: rgb(255, 0, 0);
  font-weight: 700;
  margin-top: 5px;
  font-size: 10px;
}